* {
  border: none;
  border-radius: 0;
  font-family: Nerd Font Hack;
  font-size: 14px;
  min-height: 24px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 5px;
  padding: 0 16px 0;
  border-radius: 26px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin: 5px 0 0 9px;
  border-radius: 26px;
  background: #282a36;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #f8f8f2;
  background: transparent;
  font-size: 16px;
}

#workspaces button.focused {
  color: #9aedfe;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ff79c6;
}

#network,
#pulseaudio,
#temperature,
#cpu,
#memory,
#clock,
#battery {
  margin: 5px 0 0 5px;
  padding: 0 16px 0;
  border-radius: 26px;
  transition: none;
}

#network {
  color: #4d4d4d;
  background: #bd93f9;
}

#pulseaudio {
  color: #4d4d4d;
  background: #9aedfe;
}

#temperature {
  color: #4d4d4d;
  background: #5af78e;
}

#cpu {
  color: #4d4d4d;
  background: #f1fa8c;
}

#memory {
  color: #4d4d4d;
  background: #ff6e67;
}

#battery {
  color: #4d4d4d;
  background: #ff79c6;
}

#clock {
  margin-right: 9px;
  color: #f8f8f2;
  background: #282a36;
}
