! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

URxvt.font: [codeset=UTF-8]xft:DejaVu Sans Mono:size=12
URxvt.scrollBar: false
URxvt.cursorBlink: 1

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! rofi
rofi.padding:         20
rofi.hide-scrollbar:  true
rofi.font:            FiraGO 12
rofi.color-enabled:   true

rofi.color-window:   #161520,#29282f,#00161520
rofi.color-normal:   #00161520,#ebece6,#00161520,#00161520,#aa30bf
rofi.color-active:   #00161520,#30bf54,#00161520,#00161520,#aa30bf
rofi.color-urgent:   #00161520,#b1bf30,#00161520,#00161520,#aa30bf
